*{
	padding:0;
	margin:0;
}
#container1{
	margin-left: 20%;
}
#container2{
	margin-left: 60%;
	margin-top: -33.5%;
}
#header{
    background-color: #16a085;
    color:#fff;
}
.container{
	width: 31%;
    height: 400px;
	border-collapse: collapse;
	margin: 25px;
	font-size: 0.9em;
	border-radius: 5px;
	overflow: hidden;
	box-shadow: 0 0 20px rgba(0,0,0,0.15);
}
.container thead tr{
	background-color: #009879;
	color: #ffffff;
	text-align: left;
	font-weight: bold;
}
.container th,
.container td{
	padding: 12px 15px;
}

.input_field1 .btn
{
  position: relative;
  width:10%;
  left: 30%;
  height: 40px;
  padding: 8px 10px;
  font-size:20px;
  font-weight: 500;
  border:0;
  background: linear-gradient(-135deg, #C850C0, #4158D0);
  transition: all 0.3s ease;
  color:#fff;
  cursor:pointer;
  border-radius:5px;
  outline:none;
}
.input_field2 .btn
{
  position: relative;
  width:10%;
  left: 60%;
  top: -36px;
  height: 40px;
  padding: 8px 10px;
  font-size:20px;
  font-weight: 500;
  border:0;
  background: linear-gradient(-135deg, #C850C0, #4158D0);
  transition: all 0.3s ease;
  color:#fff;
  cursor:pointer;
  border-radius:5px;
  outline:none;
}
.btn:active{
  transform: scale(0.95);
}
h6{
	font-size: 20px;
	font-style: bold; 
	margin-left: 30%;
}